@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 8px;
}

@keyframes slide {
  0%, 12% {
    transform: translateX(0);
  }
  33%, 45% {
    transform: translateX(-100%);
  }
  66%, 78% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.animate-slide {
  animation: slide 8s infinite ease-out;
}

.no-scrollbar {
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
